/* You can add global styles to this file, and also import other style files */


html {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media screen and (min-width: 1000px){
    body {
        position: relative;
        margin: 0;
        padding-bottom: 250px;
        min-height: 100%;
    }
}

@media screen and (max-width: 1000px){
    body {
        position: relative;
        margin: 0;
        min-height: 100%;
        padding-bottom: 435px;
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}